<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="/lib/feather/feather.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark navbar-expand-sm p-1 bg-dark bottom-shadow">
        <div class="container">
            <div class="row flex-row justify-content-around w-100">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="flex-column text-left">
                        <h2 class="text-white">REMKOF</h2>
                        <h6 class="text-white-50 text-sm-left">Профессиональный ремонт Вашей кофемашины</h6>
                    </div>
                </a>
                <button class="navbar-toggler h-50 align-self-center d-sm-block d-md-none border-0 btn-toggle-focus" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Открыть или закрыть меню сайта">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="align-content-center d-none d-md-block text-white">
                    <div class="text-size-info"><i class="feather mr-2" data-feather="phone"></i><a href="tel:+7(905)512-42-22" class="text-reset text-decoration-none">+7(905)512-42-22</a></div>
                    <div class="text-size-info"><i class="feather mr-2" data-feather="map-pin"></i>г. Подольск, Ул. Большая Серпуховская, 50</div>
                    <div class="text-size-info"><i class="feather mr-2" data-feather="mail"></i>d.r.o.n.6030@yandex.ru</div>
                    <script>feather.replace()</script>
                </div>
            </div>
            
        </div>
    </nav>
            
    <div class="navbar navbar-expand-md navbar-collapse collapse d-md-inline-flex w-100 bg-white border-bottom p-0 text-dark bottom-shadow">
        <div class="container container-fluid">
            <ul class="navbar-nav flex-sm-grow-1 text-center justify-content-center w-100">
                <li class="nav-item @Html.IsSelected("Home", "Index", "nav-selected")"><a class="nav-link navig-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                <li class="nav-item @Html.IsSelected("Home", "Prices", "nav-selected")"><a class="nav-link navig-link" asp-area="" asp-controller="Home" asp-action="Prices">Цены</a></li>
                <li class="nav-item @Html.IsSelected("Home", "ShippingAndPayment", "nav-selected")">
                    <a class="nav-link navig-link" asp-area="" asp-controller="Home" asp-action="ShippingAndPayment">Доставка и оплата
                    </a>
                </li>
                <li class="nav-item @Html.IsSelected("Home", "Contacts", "nav-selected")"><a class="nav-link navig-link" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a></li>
                <li class="nav-item @Html.IsSelected("Home", "About", "nav-selected")"><a class="nav-link navig-link" asp-area="" asp-controller="Home" asp-action="About">О нас</a></li>
                @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item @Html.IsSelected("Admin", "Prices", "nav-selected ml-5")">
                            <a class="nav-link navig-link" asp-area="" asp-controller="Admin" asp-action="Prices">Редактирование цен</a>
                        </li>
                        <li class="nav-item @Html.IsSelected("Admin", "Users", "nav-selected")">
                            <a class="nav-link navig-link" asp-area="" asp-controller="Admin" asp-action="Users">Пользователи</a>
                        </li>
                        <li class="nav-item @Html.IsSelected("Admin", "Options", "nav-selected")">
                            <a class="nav-link navig-link" asp-area="" asp-controller="Admin" asp-action="Options">Параметры</a>
                        </li>
                        <li class="nav-item m-2">
                            <div class="text-info">Вы вошли, как @User.Identity.Name</div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navig-link nav-link" asp-area="" asp-controller="Auth" asp-action="Logout">Выход</a>
                        </li>
                    }
                </ul>
        </div>
    </div>
</header>


<main role="main" class="pb-5 mt-4" style="margin-bottom: 90px">
    @RenderBody()
</main>

<footer class="border-top footer bg-dark box-shadow">
    <div class="container">
        <div class="flex-column text-white-50 m-2">
            <div class="p-0 fontsize-small"><i class="feather mr-2" data-feather="phone"></i><a href="tel:+7(905)512-42-22" class="text-reset text-decoration-none">+7(905)512-42-22</a></div>
            <div class="p-0 fontsize-small"><i class="feather mr-2" data-feather="mail"></i>d.r.o.n.6030@yandex.ru</div>
            <div class="p-0 fontsize-small"><i class="feather mr-2" data-feather="map-pin"></i>г. Подольск, Ул. Большая Серпуховская, 50</div>
            <script>feather.replace()</script>
        </div>


        <div class="align-self-center text-center text-white-50 m-2">
            &copy; @DateTime.Now.Year - remkof.ru
        </div>
    </div>
</footer>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)


</body>
</html>
